
h1{
    color: aquamarine;
    font-size:30px;
    background: antiquewhite;
}
li{
    border: 30px groove darkgray;
    color: #251515;
    background-color: rgb(138, 43, 226);
    text-decoration: underline;
}